
body {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  font-size: 24pt;
  text-align: center;
  margin-bottom: 1%;
  margin-top: 5%;
}

#fetcher {
  background-color: black;
  color: beige;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  display: block;
  align-self: center;
}

.data {
  margin-top: 4%;
  text-align: center;
  color: black;
}
